.row
  .col-lg-10.col-md-12
    %h4 Approvals
    = "Need Approval (#{@approvals.count})"
    = "Approved (#{@approved.count})"
    .approvals
      %h5 Need Approvals
      - if @approvals.any?
        - @approvals.each do |approval|
          .panel
            .panel-body
              .row
                .col-sm-8
                  .priority{class: "#{priority_colors(approval)}"}
                    %span Priority:
                    = Priority.title(approval)
                  = approval.title
                .col-sm-4.approval-btn
                  .pull-right
                    = form_for [@asset, approval] do |f|
                      = f.hidden_field :approved, value: true

                      / Button trigger modal
                      %button.btn.btn-info{"data-target" => "#approval_modal", "data-toggle" => "modal", :type => "button"}
                        Approve
                      / Modal
                      #approval_modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog{:role => "document"}
                          .modal-content
                            .modal-header
                              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                %span{"aria-hidden" => "true"} &times;
                              %h4#myModalLabel.modal-title Are you sure you want to approve this?
                            .modal-body
                              Once this item has been approved, the project will move forward.
                            .modal-footer
                              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                              = f.submit 'Yes', class: 'btn btn-info'
      - else
        .jumbotron.center
          %h5{style: 'margin:0'} Everything has been approved!
    .approvals
      %h5 Approved
      - @approved.each do |approval|
        .panel
          .panel-body
            .row
              .col-sm-8
                .priority{class: "#{priority_colors(approval)}"}
                  %span Priority:
                  = Priority.title(approval)
                = approval.title
              .col-sm-4.approval-btn
                .pull-right
                  .btn.btn-success Approved
