.col
  .wrapper-lg
    .row
      .col-lg-12
        %div
          .pull-left
            %h4 Approvals
          .pull-right
            .btn-group
              %button.btn.btn-default{:type => "button"}
                %i.i.i-list2
              %button.btn.btn-default{:type => "button"}
                %i.i.i-grid
        .approvals
          - if @approvals.any?
            - @approvals.each do |approval|
              .row
                .col-sm-12
                  .approval-item.clearfix{"data-approvalid" => "approval_#{approval.id}"}
                    .approval-left
                      = link_to [@asset, approval] do
                        .approval-checkbox
                          %input{:type => "checkbox"}
                        .approval-item-title{id: "approval_#{approval.id}"}= approval.title
                        .approval-item-created-at.text-muted.m-l
                          Submitted for approval
                          %span.bold= approval.time_in_words
                          ago
                    .approval-right
                      .comment-link
                        %i.i.i-chat3
                      .approve-link{"data-target" => "#approval_modal", "data-toggle" => "modal", :type => "button"}
                        %i.i.i-checkmark2
                    = render 'form', approval: approval
          - else
            .jumbotron.center
              %h5{style: 'margin:0'} Everything has been approved!
        = link_to asset_approvals_approved_path do
          Approved Tasks
          %i.i.i-arrow-right5
