%header#header.app-header.navbar.b-b{:role => "menu"}
  .collapse.pos-rlt.navbar-collapse.bg-white-only
    %ul.nav.navbar-nav
      = link_to '#', class: 'navbar-brand text-lt' do
        = image_tag('logo-icon.png')
      - unless params[:controller] == 'folders'
        %li= link_to 'Dashboard', '#'
        %li= link_to 'Assets', assets_path
        %li= link_to 'Portfolio Summary', '#'
    %ul.nav.navbar-nav.navbar-right
      - if current_user.admin?
        %li
          = link_to 'Go back to Admin Dashboard', admin_path, 'data-no-turbolink' => true
      %li.dropdown
        %a.dropdown-toggle.clear{"data-toggle" => "dropdown", :href => "#"}
          %span.hidden-sm.hidden-md
          = current_user.full_name
          %i.i.i-arrow-down5
        / dropdown
        %ul.dropdown-menu.animated.fadeInRight.w
          %li
            %a{"ui-sref" => "app.page.profile"} Profile
          %li.divider
          %li
            = link_to "Logout", logout_path
        / / dropdown
