%section#executive-team
  .row
    .col-sm-10.col-sm-offset-1
      %h2 Executive Team
      %p
        = @executive_team_header.content
      .team-grid
        .row
          - @executive_teams.each do |team_member|
            .col-sm-6
              .portfolio-item{:id => "#{team_member.full_name.downcase.tr(" ", "_")}"}
                =link_to "#", data: {target: "##{team_member.modal_id}", toggle: "modal"} do
                  %h3= team_member.full_name
                  %p= team_member.title
                .modal.fade{:id => "#{team_member.modal_id}", :role => "dialog", :tabindex => "-1"}
                  .modal-dialog{:role => "document"}
                    .modal-content
                      .modal-header
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                          %span{"aria-hidden" => "true"} ×
                      .modal-body
                        .modal-team-name
                          %h2= team_member.full_name
                        .modal-team-role
                          %h5= team_member.title
                        .modal-team-description
                          %p= markdown team_member.content