%section
  %h4 Applications
.table-wrap
  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th Resume
        %th Actions
    %tbody
      - @applications.each do |application|
        %tr
          %td= link_to application.full_name, admin_career_application_path(application)
          %td= application.email
          %td= application.phone
          %td= link_to application.resume_file_name, application.resume.url
          %td= link_to 'Delete', '', data: { target: "#application_#{application.id}", toggle: 'modal' }
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "application_#{application.id}", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h4#myModalLabel.modal-title Are you sure?
                .modal-body
                  Once this applicant is deleted, they are gone forever!
                .modal-footer
                  %button.btn.btn-link{"data-dismiss" => "modal", :type => "button"} Close
                  = link_to "Delete", admin_career_application_path(application), method: :delete, class: "btn btn-danger"
