%section
  %h4 Applications
.table-wrap.wrapper-md
  %table.table
    %thead
      %tr
        %th Last Name
        %th First Name
        %th Email
        %th Phone
        %th Resume
        %th Received
        %th Actions
        %th Icon
    %tbody.applicants
      - @applications.each do |applicant|
        %tr
          %td.last_name= applicant.last_name
          %td.first_name= applicant.first_name
          %td.email= applicant.email
          %td= applicant.phone
          %td
            - unless applicant.resume_file_name.blank?
              / %i{ :class => "i i-file-#{icon_for_document(applicant)}" }
              = link_to 'View Resume', applicant.resume.url
            - else
              No Resume
          %td= time_ago_in_words applicant.created_at
          %td= link_to 'Delete', '', data: { target: "#application_#{applicant.id}", toggle: 'modal' }
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "application_#{applicant.id}", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h4#myModalLabel.modal-title Are you sure?
                .modal-body
                  Once this applicant is deleted, they are gone forever!
                .modal-footer
                  %button.btn.btn-link{"data-dismiss" => "modal", :type => "button"} Close
                  = link_to "Delete", admin_career_application_path(applicant), method: :delete, class: "btn btn-danger"
          %td
            %i.fa.fa-ellipsis-h

