.box
  = form_for [:admin, @asset], html: {class: 'form-horizontal'} do |f|
    .row
      .col-md-8.m-md-auto
        .row.padding
          .col-md-12
            .text-center
              %h6._600.m-v-lg New Deal
            %p.text-center
              Please add in the basic information for your deal.
        %h6._600.m-v-lg Basic Information
        .mb-2-lg.row
          .col-sm-12
            .row.row-sm
              .col-sm-6
                .md-form-group
                  = f.text_field :name, class: 'md-input'
                  = f.label :name, 'Deal Name'
              .col-sm-6
                .md-form-group
                  = f.text_field :address, class: 'md-input'
                  = f.label :address
              .col-sm-4
                .md-form-group
                  = f.text_field :city, class: 'md-input'
                  = f.label :city
              .col-sm-4
                .md-form-group
                  = f.text_field :state, class: 'md-input'
                  = f.label :state
              .col-sm-4
                .md-form-group
                  = f.text_field :zipcode, class: 'md-input'
                  = f.label :zipcode, 'Zip Code'
              .col-sm-12
                .text-right
                  = link_to url_for(:back), class: 'btn btn-fw white', style: 'margin-right: 5px;' do
                    Cancel
                  = f.submit 'Save', class: 'btn btn-fw primary'
























































