%head
  %title Thelius Capital Partners, LLC
  = stylesheet_link_tag    "eastgate.css"
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, minimal-ui", :name => "viewport"}
  %meta{:content => "#{user_signed_in? ? current_user.id : ""}", :name => "user-id"}/
  = favicon_link_tag 'favicon_2.png'

