%aside#aside.app-aside.hidden-xs.bg-dark{:style => "position:fixed; height:100%;"}
  .aside-wrap
    .navi-wrap
      %nav.navi.clearfix{:style => "padding:20px", "ui-nav" => ""}
        %ul.nav
          %li.hidden-folded.m-b-sm.text-xs.nav-sm-title
            %span Menu
          %li
            = link_to '', class: "auto", title: "Dashboard" do
              %span Dashboard
          %li
            = link_to admin_clients_path, class: "auto", title: "Clients" do
              %span Clients
          %li
            = link_to admin_assets_path, class: "auto", title: "Assets" do
              %span Assets
          %li
            = link_to admin_approvals_path, class: "auto", title: "Assets" do
              %span Approvals
          %li.line.dk.hidden-folded
          %li.hidden-folded.m-t.m-b-sm.text-xs.nav-sm-title
            %span Website Content
          %li
            = link_to admin_file_manager_path, class: "auto", title: "Edit Website" do
              %span Edit Website
          %li.line.dk.hidden-folded
          %li.hidden-folded.m-t.m-b-sm.text-xs.nav-sm-title
            %span War Room
          %li
            = link_to admin_file_manager_path, class: "auto", title: "File Manager" do
              %span File Manager
          %li.line.dk.hidden-folded
          %li.hidden-folded.m-t.m-b-sm.text-xs.nav-sm-title
            %span Users
          %li
            = link_to admin_users_admins_path, class: "auto", title: "Admin" do
              %span Admins
          %li
            = link_to admin_users_path, class: "auto", title: "Contacts" do
              %span Contacts
          %li
            = link_to admin_create_user_path, class: "auto", title: "People" do
              %span + Add New
          %li.line.dk.hidden-folded
          %li.hidden-folded.m-t.m-b-sm.text-xs.nav-sm-title
            %span Careers
          %li
            = link_to admin_career_applications_path, class: "auto", title: "Applications" do
              %b.label.bg-primary.pull-right= CareerApplication.display_count
              %span Applications
