= form_for [:admin, @executive_team] do |f|
  .row
    .col-sm-6
      .form-group
        %label= f.label :first_name
        = f.text_field :first_name, class: "form-control"
    .col-sm-6
      .form-group
        %label= f.label :last_name
        = f.text_field :last_name, class: "form-control"
  .form-group
    %label= f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    %label= f.label :content
    = f.text_area :content, class: "form-control", id: "summernote"
  .action
    = f.submit 'Save Changes', class: 'btn btn-info btn-lg btn-fixed'
