.panel
  .panel-body
    .center{style: "padding:0 0 30px 0;"}
      = image_tag('logo_black.png', height: "60")
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.email_field :email, class: "form-control", placeholder: "Email address"
      .form-group
        = f.password_field :password, class: "form-control", placeholder: "Password"
      .actions
        = f.submit "Log in", class: "btn btn-off-blue btn-lg btn-block"
