.property-header
  .property-stats
    .property-stat-title
      Assets
    .property-stat-result
      = @client.assets.count if @client
.assets
  - @assets.each do |asset|
    .row
      .col-lg-12
        .assets-portfolio.clearfix
          = image_tag(asset.asset_image.url(:thumb), class: 'img-responsive')
          .asset-info
            .asset-name
              = link_to asset do
                %h4= asset.name
            .asset-address
              = asset.address_with_break
