%div
  = link_to 'New Category', new_admin_job_category_path
- @job_categories.each do |category|
  %div
    = category.title
    = link_to 'Edit', edit_admin_job_category_path(category)
    = link_to 'Delete', '', data: { target: "#category_#{category.id}", toggle: 'modal' }
    .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "category_#{category.id}", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#myModalLabel.modal-title Are you sure?
          .modal-body
            Once the category is deleted, it's gone forever!
          .modal-footer
            %button.btn.btn-link{"data-dismiss" => "modal", :type => "button"} Close
            = link_to "Delete", admin_job_category_path(category), method: :delete, class: "btn btn-danger"