.bg-light.lter.b-b.wrapper-sm
  Admin Console
.wrapper-md
  .admin-links
    = link_to admin_users_admins_path do
      .admin-icon
        .test-icon
          %h6 Users
          %p Add, edit, and manage users
    = link_to admin_clients_path do
      .admin-icon
        .test-icon
          %h6 Clients
          %p Add, edit, and manage our clients
    = link_to admin_assets_path do
      .admin-icon
        .test-icon
          %h6 Deals
          %p Add, edit, and manage deals
    = link_to admin_executive_teams_path do
      .admin-icon
        .test-icon
          %h6 Website
          %p Update information about our website
    = link_to admin_file_manager_path do
      .admin-icon
        .test-icon
          %h6 War Room
          %p Upload documents for our deals
    = link_to admin_career_applications_path do
      .admin-icon
        .test-icon
          %h6 Careers
          %p View and manage candidate resumes
