.row
  .col-lg-3
    %h4= @user.full_name
    - if @user.client
      %p= "Manager at #{@user.client.name}"
    %ul
      %li
        %span.pull-right= @user.email
        Email
      %li
        %span.pull-right= "914-980-5339"
        Phone
      %li
        %span.pull-right 590 Madison Ave
        Address
      %li
        %span.pull-right New York
        City
      %li
        %span.pull-right New York
        State
      %li
        %span.pull-right= @user.sign_in_count
        Sign in Count
      %li
        %span.pull-right= @user.last_sign_in_at
        Last Sign In