%section
  = link_to 'New Folder', admin_asset_new_sub_folder_path(@asset, @current_folder), class: 'btn btn-info'
  = link_to 'Upload File', new_admin_asset_folder_document_path(@asset, @current_folder), class: 'btn btn-primary'
= render 'breadcrumbs'
.panel
  .table-responsive
    %table.table.table-striped.b-light
      %thead
        %tr
          %th Name
          %th Size
          %th Modified
          %th{:style => "width:30px;"}
      %tbody.folders
        - @folders.each do |folder|
          %tr
            %td
              = link_to admin_asset_folder_path(@asset, folder) do
                %i.i.i-folder2
                %span
                  = folder.name
            %td
              %span.text-ellipsis -
            %td
              %span.text-ellipsis -
        - @documents.each do |document|
          %tr
            %td
              = link_to admin_asset_download_path(@asset, document) do
                %i.i.i-file-pdf
                %span
                  = document.file_name
            %td
              %span.text-ellipsis= document.file_size
            %td
              %span.text-ellipsis= document.time_updated_at