/ aside
%aside#aside.app-aside.hidden-xs.bg-white.b-r{:style => "position:fixed; height:100%;"}
  .aside-wrap
    .property-wrap.clearfix
      = image_tag('property.png', class: 'img-responsive pull-left')
      %p
        = @asset.name
        %span
          HSA-UWC
    .navi-wrap
      / nav
      %nav.navi.clearfix{:style => "padding:20px", "ui-nav" => ""}
        %ul.nav
          %li.hidden-folded.m-b-sm.text-xs.nav-sm-title
            %span Menu
          %li
            = link_to @asset, class: "auto", title: "Dashboard" do
              %i.i.i-statistics
              %span Property Snapshot
          %li
            = link_to asset_timelines_path(@asset), class: "auto", title: "Timeline" do
              %i.i.i-mail2
              %span Timeline
          %li
            = link_to asset_business_plans_path(@asset), class: "auto", title: "Business Plans" do
              %i.i.i-statistics
              %span Business Plans
          %li
            = link_to asset_financials_path(@asset), class: "auto", title: "Financials" do
              %i.i.i-mail2
              %span Financials
          %li
            = link_to asset_approvals_path(@asset), class: "auto", title: "Approvals" do
              %i.i.i-statistics
              %span Approvals
          %li
            = link_to asset_hot_points_path(@asset), class: "auto", title: "Hot Points" do
              %i.i.i-mail2
              %span Hot Points
          %li
            = link_to asset_images_path(@asset), class: "auto", title: "Images" do
              %i.i.i-mail2
              %span Images
