!!!
%html
  = render 'layouts/admin/head'
  %body.admin
    .app.app-header-fixed
      = render 'layouts/admin/header'
      = render 'shared/flash'
      = render 'layouts/admin/aside_for_careers_applications'
      #content.app-content{:role => "main"}
        .app-content-body
          .hbox.hbox-auto-xs.hbox-auto-sm{"ng-init" => "\n            app.settings.asideFolded = false; \n            app.settings.asideDock = false;\n          "}
            / main
            .col
              .container
                .row
                  .col-md-offset-1.col-md-10.m-t-lg
                    = yield